.SearchButton {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: none;

    background-image: url('../../assets/magnifier.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50% 50%;
    background-color: white;
}