.DetailsContainer {
    &List {
        list-style: none;
        width: 19rem;
        margin: auto;

        &Item {
            padding: .5rem;
            display: flex;
            align-items: center;
            min-height: 50px;

            &Text {
                font-size: 1.8rem;
            }

            &Icon {
                width: 4rem;
                height: 4rem;
            }
        }
    }
}

@media (min-height: 700px) {
    .DetailsContainer {
        &List {
            width: 20rem;
            &Item {
                &Text {
                    font-size: 2rem;
                }
            }
        }
    }
}