.DetailsContainer {
    &List {
        list-style: none;
        width: 18rem;
        margin: 0 auto;

        &Item {
            padding: .5rem;
            display: flex;
            align-items: center;
            min-height: 50px;

            &Text {
                font-size: 1.8rem;
            }

            &Icon {
                width: 4rem;
                height: 4rem;
            }
        }
    }
}