@import '../../scss/mixins';

.SearchBar {
    @include flexCenter;
    width: 100%;

    &InputContainer {
        width: 70%;
        min-width: 20rem;
        max-width: 50rem;
    }

    &ButtonContainer {
        margin-left: 2em;
    }

    &Touched {
        @extend .SearchBar;
        transform: translateY(-40vh);
        transition: all 1s ease-in;
    }

    &NoAnimation {
        @extend .SearchBar;
        transform: translateY(-40vh);
        transition-duration: 0;
    }
}