@import '../../scss/mixins';

.SearchBar {
    @include flexCenter;

    &InputContainer {

    }

    &ButtonContainer {
        margin-left: 2em;
    }

    &Touched {
        @extend .SearchBar;
        transform: translateY(-40vh);
        transition: all 2s;
    }
}