@import '../../scss/mixins';

.Header {
    width: 100%;
    @include flexCenter;

    padding: 2em;

    &Title {
        font-size: 3em;
    }

    &Touched {
        @extend .Header;
        transform: translateY(-50vh);
        transition: all 1s;
        transition-delay: .8s;
    }
}