@import '../../scss/mixins';

.ForecastContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -43%);
    width: 80%;
    max-width: 40rem;
    height: 70%;
    max-height: 50rem;

    background-color: white;
    border-radius: 10px;

    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;

    display: grid;
    grid-template-rows: 20% 10% 1fr;
    justify-items: center;

    &Description {
        display: grid;
        place-items: center;
        width: 100%;
        text-transform: uppercase;
        grid-row: 2 / 3;

        &Text {
            font-size: 1.8rem;
        }
    }

    &Content {
        grid-row: 3 / 4;
        width: 100%;
        display: grid;
        grid-template-rows: 12% 1fr 1fr;

        &Toggler {
            grid-row: 1/2;
        }
    }
}

@keyframes slideIn {
    from {
        transform: translate(-50%, 50vh);
    }

    to {
        transform: translate(-50%, -43%);
    }
}