@import '../../scss/mixins';

.ForecastContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -43%);
    width: 80%;
    max-width: 40rem;
    height: 70%;
    max-height: 50rem;

    background-color: white;
    border-radius: 10px;

    animation-name: slideIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;

    display: grid;
    grid-template-rows: 20% 10% 1fr;
    justify-items: center;

/*     &Controls {
        @include flexCenter;
        width: 100%;
        font-size: 1.6rem;
        grid-row: 1 / 2;
    } */

   /*  &Header {
        overflow: hidden;
        @include flexCenter;
        height: 100%;
        width: 68%;
        position: relative;

        &Text {
            white-space: nowrap;
            position: absolute;
        }
    } */

    &Description {
        display: grid;
        place-items: center;
        width: 100%;
        text-transform: uppercase;
        grid-row: 2 / 3;

        &Text {
            font-size: 1.8rem;
        }
    }

    &Content {
        grid-row: 3 / 4;
        width: 100%;
        display: grid;
        grid-template-rows: 12% 1fr 1fr;

        &Toggler {
            grid-row: 1/2;
        }

        &Temp {
            font-size: 5rem;
            justify-self: center;
            align-self: start;
        }

        &Icon {
            width: 14rem;
            height: 14rem;
            justify-self: center;
            align-self: center;
        }

        /* &Main {
            @include flexSpaceEvenly;

            &Temp {
                font-size: 4rem;
            }

            &Icon {
                width: 5rem;
                height: 5rem;
                overflow: hidden;
                position: relative;
                transform: scale(2);
            }
        } */
    }

    &List {
        list-style: none;
        padding: 0 2rem;

        &Item {
            padding: .5rem;
            display: flex;
            align-items: center;
            min-height: 50px;

            &Text {
                font-size: 1.8rem;
            }

            &Icon {
                width: 4rem;
                height: 4rem;
            }
        }
    }
}

@keyframes slideIn {
    from {
        transform: translate(-50%, 50vh);
    }

    to {
        transform: translate(-50%, -43%);
    }
}