@import '../../scss/mixins';

.GeneralContainer {
    @include flexCenterColumn;

    &Icon {
        width: 14rem;
        height: 14rem;
        justify-self: center;
        align-self: center;
        margin-top: -4rem;
    }

    &Text {
        font-size: 5rem;
    }
}