@import '../../scss/variables';

.App {
    min-height: 52rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $color-backgroud-main;
    position: relative;
}
