@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flexSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flexSpaceBetweenColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@mixin flexSpaceAround {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@mixin flexSpaceAroundColumn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

@mixin flexSpaceEvenlyColumn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}