//COLORS//
$color-primary: rgb(0, 0, 0);
$color-primary-hovered: rgb(34, 34, 34); //#860101
$color-primary-active: rgb(48, 48, 48); //#af0000
$color-red:rgb(207, 0, 0);
$color-red-hovered:rgb(190, 0, 0);
$color-red-availability: rgb(255, 94, 94);
$color-red-inputBackgroundError: rgb(255, 163, 163);
$color-green:rgb(95, 158, 0);
$color-green-hovered:rgb(84, 139, 0);
$color-grey-primary: rgb(238, 238, 238);
$color-grey-secondary: rgb(184, 184, 184);
$color-yellow-availability: rgb(253, 253, 131);

//BORDER//
$border-radius-basic: 5px;
